canvas {
	border:1px solid black;
}

#frame {
	width:1000px;
	height:600px;
	margin:50px auto;
}

#canvas_frame {
	position:relative;
}

#fade {
	top:0;
	left:0;
	bottom:0;
	right:0;
	position:absolute;
	background:black;
	opacity:0.7;
	font-family:Helvetica, Arial;
	font-size:50px;
	color:#ffffff;
	text-align:center;
	padding-top:250px;
	display:none;
}

@media only screen and (max-width: 1200px) {
	
	
	#frame {
		margin-top:30px;
		/*margin-left:-10px;*/
	}
	
	input {
		font-size:30px;
		margin-bottom:10px;
	}
	
}

@media only screen and (max-device-width: 480px) and (orientation:portrait) {
	#frame {
		margin-top:120px;
	}
	
	input {
		font-size:70px;
		margin-bottom:20px;
	}
}

@media only screen and (max-device-width: 480px) and (orientation:landscape) {
	#frame {
		margin-top:20px;
	}
	
	input {
		font-size:40px;
		margin-bottom:20px;
		position:fixed;
		left:50%;
		margin-left:-70px;
		top:40px;
		z-index:5000;
	}
}